@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700'); /* Font for Main Text of the Page */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab'); /* Font for Main Headings of the Page */

html {
  scroll-behavior: smooth;
}

/* Styling of body */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

/* Text Styling */
h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 0;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

/* Main Body Wrapper */
#wrapper {
  display: grid;
  grid-gap: 1em;
}

/* Header Styling */
header {
  display: grid;
  grid-template-columns: 5% 5% 1fr 5% 5%;
  background-image: url(../images/header/web-cropped.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 360px;
}

header .about {
  grid-area: about;
  text-align: right;
  padding: 30px;
  margin-top: 60%;
  z-index: 1;
  width: 280px;
}

header .about img {
  width: 200px;
  border: 2px solid #fff;
}

header .about ul li {
  padding: 3px;
  list-style: none;
}

header .about ul li img {
  width: 25px;
  padding-left: 10px;
  margin-bottom: -10px;
}

nav {
  background: #D6D6D2;
  margin-top: -1em;
  margin-left: -1em;
}

nav ul li {
  display: inline;
  padding: 5px;
  margin-right: 1em;
  font-size: 1.8em;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  font-weight: 700;
}

nav ul .active {
  background: #fff;
  padding: 16px;
}

/* ------------------------------------------------------- */
/* Main Content Styling */

/* Homepage styling */
.portfolio {
  display: grid;
  grid-template-areas:
    'project-1 project-2';
  width: 1460px;
}

.portfolio span {
  display: none;
}

.project {
  background: #D6D6D2;
  margin: 20px;
  padding: 10px;
  border: 2px solid #fff;
  box-shadow: 3px 5px 5px 4px #888888;
}

.project img {
  width: 700px;
  border: 1px solid #000;
}

.project-1 {
  grid-area: project-1;
}

.project-2 {
  grid-area: project-2;
}

/* About page styling */
.about-me {
  display: grid;
  grid-template-areas:
    'image-1 info'
    'image-2 info'
    'image-3 info';
  width: 1460px;
  margin: 20px;
}

.images .image-1 {
  grid-area: image-1;
}

.images .image-3 {
  grid-area: image-2;
}

.images .image-3 {
  grid-area: image-3;
}

.images img {
  width: 325px;
  margin: 10px;
  border: 2px solid #fff;
  box-shadow: 3px 5px 5px 4px #888888;
}

.info {
  display: grid;
  grid-area: info;
  margin-left: 20px;
}

.info ul {
  margin: 0;
  padding: 10px;
}

.info ul li {
  font-size: 1.2em;
  list-style-type: none;
  padding: 10px 2px;
}

.info img {
  width: 25px;
  padding-right: 10px;
}

/* Contact page styling */
.contact {
  display: grid;
  width: 1460px;
  margin: 25px;
}

.contact .contact-me {
  display: grid;
  grid-template-areas:
    'form details';
  grid-gap: 5%;
  margin: 20px;
}

.form {
  grid-area: form;
}

.details {
  grid-area: details;
}

.form h2 {
  padding-bottom: 10px;
}

form {
  background: #D6D6D2;
  padding: 10px;
  border: 2px solid #fff;
  box-shadow: 3px 5px 5px 4px #888888;
}

form input[type="text"], input[type="email"], input[type="tel"], textarea {
  border: 1px solid black;
  font-size: 1.2em;
}

form input[type="submit"] {
  border: 1px solid black;
  font-size: 1em;
  background: #fff;
}

form input[type="submit"]:hover {
  font-weight: 700;
  cursor: pointer;
}

form p {
  margin: 5px;
}

/* Projects page styling */
.projects {
  display: grid;
  width: 1420px;
  margin: 30px;
  font-size: 1.3em;
}

.projects img {
  width: 1420px;
  border: 2px solid #fff;
  box-shadow: 3px 5px 5px 4px #888888;
}

.projects h3 {
  padding-top: 15px;
}

.projects p {
  padding-bottom: 10px;
}

.designs {
  display: flex;
}

.designs .column {
  flex: 50%;
}

.designs img {
  width: 705px;
  height: 420px;
}

.projects iframe {
  border: 2px solid #fff;
  box-shadow: 3px 5px 5px 4px #888888
}

.projects iframe.mobile {
  width: 375px;
  height: 812px;
}

.projects iframe.desktop {
  width: 1420px;
  height: 823.19px;
}

.projects ul {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  background: #D6D6D2;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
}

.projects ul li {
  display: inline;
  padding: 80px;
}

/* -------------------------------------------------------- */
/* Footer Styling */
footer {
  display: grid;
  background: #414141;
  color: #fff;
  grid-template-rows: auto auto;
  grid-template-areas:
    'copyright copyright social social';
  padding: 5px 20px;
}

footer img {
  width: 50px;
}

footer a {
  color: #fff;
}

.copyright {
  grid-area: copyright;
}

.copyright img {
  width: 20px;
}

.social {
  grid-area: social;
  text-align: right;
  padding-top: 10px;
}

/*-------------------------------------------------------------*/
/* Media Queries */

/* Screen size: 1825px */
@media screen and (max-width: 1825px) {
  .portfolio {
    width: 1300px;
  }

  .project img {
    width: 650px;
  }

  .about-me {
    width: 1300px;
  }
}

/* Screen size: 1760px */
@media screen and (max-width: 1760px) {
  .portfolio {
    width: 1200px;
  }

  .project img {
    width: 600px;
  }

  .project p {
    font-size: 0.8em;
  }

  .projects {
    width: 1200px;
  }

  .projects img {
    width: 1200px;
  }

  .designs img {
    width: 590px;
    height: 400px;
    margin: 5px;
  }

  .projects iframe.desktop {
    width: 1200px;
    height: 695.65px;
  }
}

/* Screen size: 1625px */
@media screen and (max-width: 1625px) {
  .portfolio {
    width: 1100px;
  }

  .project img {
    width: 550px;
  }

  .about-me {
    width: 1100px;
  }

  .contact {
    width: 1100px;
  }
}

/* Screen size: 1550px */
@media screen and (max-width: 1550px) {
  .projects {
    width: 1100px;
  }

  .projects img {
    width: 1100px;
  }

  .designs img {
    width: 540px;
    height: 380px;
    margin: 5px;
  }

  .projects iframe.desktop {
    width: 1100px;
    height: 637.68px;
  }
}

/* Screen size: 1525px */
@media screen and (max-width: 1525px) {
  .portfolio {
    width: 1000px;
  }

  .project img {
    width: 500px;
  }

  .about-me {
    width: 1000px;
  }
}

/* Screen size: 1440px */
@media screen and (max-width: 1440px) {
  .projects {
    width: 1000px;
  }

  .projects img {
    width: 1000px;
  }

  .designs img {
    width: 490px;
    height: 360px;
    margin: 5px;
  }

  .projects ul {
    font-size: 1.3em;
    padding: -80px;
  }

  .projects iframe.desktop {
    width: 1000px;
    height: 579.71px;
  }
}

/* Screen size: 1420px */
@media screen and (max-width: 1420px) {
  .portfolio {
    width: 900px;
  }

  .project img {
    width: 450px;
  }

  .about-me {
    width: 900px;
  }

  .contact {
    width: 900px;
  }
}

/* Screen size: 1315px */
@media screen and (max-width: 1315px) {
  .portfolio {
    width: 800px;
  }

  .project img {
    width: 400px;
  }

  .portfolio p {
    font-size: 1em;
  }

  .projects {
    width: 900px;
  }

  .projects img {
    width: 900px;
  }

  .designs img {
    width: 440px;
    height: 340px;
    margin: 5px;
  }

  .projects ul {
    font-size: 1.1em;
  }

  .projects iframe.desktop {
    width: 900px;
    height: 521.74px;
  }
}

/* Screen size: 1225px */
@media screen and (max-width: 1225px) {
  .portfolio {
    width: 700px;
  }

  .project img {
    width: 350px;
  }

  .project p {
    font-size: 0.9em;
  }

  .about-me {
    width: 800px;
    font-size: 0.9em;
  }

  .contact {
    width: 800px;
  }

  .projects {
    width: 800px;
  }

  .projects img {
    width: 800px;
  }

  .designs img {
    width: 390px;
    height: 320px;
    margin: 5px;
  }

  .projects ul {
    font-size: 0.85em;
  }

  .projects iframe.desktop {
    width: 800px;
    height: 463.77px;
  }
}

/* Screen size: 1125px */
@media screen and (max-width: 1125px) {
  .portfolio {
    width: 600px;
  }

  .project img {
    width: 300px;
  }

  .project h2 {
    font-size: 1.8em;
  }

  .project p {
    font-size: 1em;
  }

  .about-me {
    width: 750px;
    font-size: 0.8em;
  }

  .contact {
    width: 750px;
  }

  .projects {
    width: 700px;
    font-size: 1em;
  }

  .projects img {
    width: 700px;
  }

  .designs img {
    width: 340px;
    height: 300px;
    margin: 5px;
  }

  .projects iframe.desktop {
    width: 700px;
    height: 405.8px;
  }
}

/* Screen size: 1070px */
@media screen and (max-width: 1070px) {
  .about-me {
    display: grid;
    grid-template-areas:
      'info info'
      'image-1 image-2';
    width: 700px;
  }

  .images {
    display: flex;
  }

  .images .column {
    flex: 50%;
  }

  .contact {
    width: 700px;
  }

  .contact .contact-me {
    display: grid;
    grid-template-areas:
      'form form'
      'details details';
  }

  .projects {
    width: 600px;
  }

  .projects img {
    width: 600px;
  }

  .designs img {
    width: 290px;
    height: 200px;
    margin: 5px;
  }

  .projects ul li {
    font-size: 0.7em;
  }

  .projects iframe.desktop {
    width: 600px;
    height: 347.83px;
  }
}

/* Screen size: 1030px */
@media screen and (max-width: 1030px) {
  .about-me {
    width: 600px;
  }

  .images img {
    width: 300px;
  }

  .contact {
    width: 600px;
  }

  .contact h2 {
    font-size: 1.5em;
  }
}

/* Screen size: 1015px */
@media screen and (max-width: 1015px) {
  .portfolio {
    display: grid;
    grid-template-areas:
      'project-1 project-1'
      'project-2 project-2';
  }

  .project h2 {
    font-size: 2em;
  }

  .project img {
    width: 600px;
  }
}

/* Screen size: 960px */
@media screen and (max-width: 960px) {
  .project img {
    width: 550px;
  }

  .about-me {
    width: 500px
  }

  .images img {
    width: 275px;
  }

  .contact {
    width: 500px;
  }

  .contact h2 {
    font-size: 1.4em;
  }

  .projects {
    width: 500px;
  }

  .projects img {
    width: 500px;
  }

  .designs {
    display: block;
  }

  .designs img {
    width: 500px;
    height: auto;
    margin-top: 5px;
  }

  .projects ul {
    padding: 5;
  }

  .projects ul li {
    font-size: 1em;
    padding: 2px;
  }

  .projects iframe.desktop {
    width: 500px;
    height: 289.86px;
  }
}

/* Screen size: 905px */
@media screen and (max-width: 905px) {
  .portfolio {
    width: 500px;
  }

  .project img {
    width: 500px;
  }

  .about-me {
    width: 400px
  }

  .images img {
    width: 250px;
  }
}

/* Screen size: 855px */
@media screen and (max-width: 855px) {
  .portfolio {
    width: 400px;
  }

  .project img {
    width: 400px;
  }

  .about-me {
    width: 300px
  }

  .images img {
    width: 225px;
  }

  .contact {
    width: 400px;
  }

  .contact h2 {
    font-size: 1.3em;
  }

  .projects {
    width: 400px;
  }

  .projects img {
    width: 400px;
  }

  .designs img {
    width: 400px;
    height: auto;
    margin-top: 5px;
  }

  .projects ul li {
    font-size: 1em;
  }

  .projects iframe.desktop {
    width: 400px;
    height: 231.88px;
  }
}

/* Tablet and mobile screen - 800px down */
@media screen and (max-width: 800px) {
  header {
    height: 200px;
  }

  header .about {
    margin-top: 55px;
    font-size: 0.8em;
    width: 330px;
  }

  header .about ul {
    font-size: 1.2em;
  }

  header .about img {
    width: 150px;
  }

  nav {
    margin-top: 220px;
    font-size: 0.9em;
    border-top: 1px solid #000;
  }

  nav ul .active {
    padding: 13px 16px 16px 16px;
  }

  .portfolio {
    width: 800px;
  }

  .portfolio span {
    display: block;
  }

  .portfolio img {
    width: 100%;
  }

  .about-me {
    width: 750px;
    font-size: 1em;
  }

  .images img {
    width: 350px;
  }

  .contact {
    width: 760px;
  }

  .contact h2 {
    font-size: 2em;
  }

  .projects {
    width: 730px;
  }

  .projects img {
    width: 730px;
  }

  .designs img {
    width: 730px;
    height: auto;
    margin-top: 5px;
  }

  .projects iframe.desktop {
    width: 730px;
    height: 423.19px;
  }

  footer {
    display: grid;
    grid-template-areas:
      'copyright copyright'
      'social social';
  }

  .copyright {
    text-align: center;
  }

  .social {
    text-align: center;
  }
}

/* Screen size: 650px */
@media screen and (max-width: 650px) {
  header .about {
    font-size: 1em;
  }

  nav {
    margin-top: 255px;
  }

  .social img {
    width: 70px;
  }

  .contact h3 {
    font-size: 2em;
  }

  .contact p {
    font-size: 1.5em;
  }

  .projects {
    font-size: 1.5em;
  }
}

/* Screen size: 550px */
@media screen and (max-width: 550px) {
  header .about {
    font-size: 1.1em;
    width: 350px
  }

  header .about img {
    width: 170px;
  }

  nav {
    margin-top: 355px;
    font-size: 1.6em;
  }

  nav ul .active {
    padding: 25px 30px 30px 30px;
  }

  .portfolio p {
    font-size: 1.4em;
  }

  .about-me {
    font-size: 1.2em;
  }
}

/* Screen size: 500px */
@media screen and (max-width: 500px) {
  header .about {
    font-size: 1.2em;
    width: 550px
  }

  footer p {
    font-size: 1.6em;
  }

  .copyright img {
    width: 30px;
  }

  .social img {
    width: 90px;
  }

  .contact h3 {
    font-size: 2.2em;
  }

  .contact form {
    font-size: 1.3em;
  }

  .contact .details p {
    font-size: 1.8em;
  }
}

/* Screen size: 450px */
@media screen and (max-width: 450px) {
  header .about {
    font-size: 1.3em;
  }

  header .about img {
    width: 200px;
  }

  header .about ul li img {
    width: 40px;
  }

  nav {
    margin-top: 385px;
  }

  .portfolio p {
    font-size: 1.5em;
  }

  .about-me {
    font-size: 1.3em;
  }

  footer p {
    font-size: 1.7em;
  }
}

/* Screen size: 400px */
@media screen and (max-width: 400px) {
  .portfolio p {
    font-size: 1.6em;
  }

  .about-me {
    font-size: 1.4em;
  }

  .contact h3 {
    font-size: 2.3em;
  }

  .contact form {
    font-size: 1.4em;
  }

  .contact .details p {
    font-size: 1.9em;
  }

  footer p {
    font-size: 1.8em;
  }

  .projects {
    font-size: 1.8em;
  }
}

/* Screen size: 350px */
@media screen and (max-width: 350px) {
  .portfolio p {
    font-size: 1.8em;
  }

  .about-me {
    font-size: 1.5em;
  }

  .contact h3 {
    font-size: 2.4em;
  }

  .contact form {
    font-size: 1.4em;
  }

  .contact .details p {
    font-size: 2em;
  }

  footer p {
    font-size: 1.8em;
  }

  footer p {
    font-size: 1.9em;
  }
}

/* Screen size: 300px */
@media screen and (max-width: 300px) {
  header .about p {
    font-size: 1.5em;
  }

  nav {
    margin-top: 430px;
  }

  .portfolio p {
    font-size: 2em;
  }

  .about-me {
    font-size: 1.7em;
  }

  .contact h2 {
    font-size: 2.1em;
  }

  .contact h3 {
    font-size: 2.5em;
  }

  .contact .details p {
    font-size: 2em;
  }

  .projects {
    font-size: 2em;
  }

  footer p {
    font-size: 1.8em;
  }

  footer p {
    font-size: 2em;
  }
}
